.notification-container {
    /* padding: 10px; */
    height: 100%;
    overflow-y: scroll;
}

.notification-container ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.notification-container::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.notification-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.notification-message {
    padding: 15px;
    cursor: pointer;
    background-color: white;
    /* border: 0.5px solid #E5E5E5; */
}

.notification-message>a {
    text-decoration: none;
}

.notification-icon {
    font-size: 17px;
}

.notification-icon-circle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
}

.notification-icon-circle-primary {
    background-color: #20a8d8;
}

.notification-icon-circle-info {
    background-color: #63c2de;
}

.notification-icon-circle-warning {
    background-color: #ffc107;
}

.notification-icon-circle-danger {
    background-color: #f5302e;
}

.notification-icon-circle-success {
    background-color: #4dbd74;
}